<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.oauth2.mapper.TbPermissionMapper">
  <resultMap id="BaseResultMap" type="com.funtl.oauth2.domain.TbPermission">
    <!--@mbg.generated generated on Wed Oct 23 15:26:37 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enname" jdbcType="VARCHAR" property="enname" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Oct 23 15:26:37 CST 2019.-->
    id, parent_id, `name`, enname, url, description, created, updated
  </sql>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
	  p.*
    from
        tb_user as u
    left join tb_user_role as ur on
        u.id = ur.user_id
    left join tb_role as r on
        ur.role_id = r.id
    left join tb_role_permission as rp on
        r.id = rp.role_id
    left join tb_permission as p on
        rp.permission_id = p.id
    where
        u.id = #{userId}
  </select>
</mapper>