<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="commonMapperBaseClass" value="tk.mybatis.mapper.MyMapper" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.funtl.oauth2.resources.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/java" />
        <option name="javaModelPackage" value="com.funtl.oauth2.resources.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="spring-security-oauth2-resource" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="spring-security-oauth2-resource">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.funtl.oauth2.resources.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/java" />
                  <option name="javaModelPacakge" value="com.funtl.oauth2.resources.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.funtl.oauth2.resources.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/java" />
                  <option name="javaServicePackage" value="com.funtl.oauth2.resources.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/java" />
                  <option name="xmlPackage" value="com.funtl.oauth2.resources.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="oauth2video:tb_content">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContent" />
                  <option name="moduleName" value="spring-security-oauth2-resource" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="oauth2video:tb_content_category">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContentCategory" />
                  <option name="moduleName" value="spring-security-oauth2-resource" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="video:tb_permission">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbPermission" />
                  <option name="moduleName" value="spring-security-oauth2-resource" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useCommonMapper" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="com.funtl.oauth2.resources.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/spring-security-oauth2-resources/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>